*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  
}

header,footer{
  padding:15px;
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  background-color: #176B87;
  color: #EEF5FF;
}
main{
  margin-top: 10px;
  flex: 1;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

.form{
display: flex;
justify-content: center;
gap: 20px;
padding: 10px 20px;
}
.inputbox{
  border: 3px solid #176B87;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #176B87;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  
}
.inputbox:focus{
  border:3px solid #176B87;
  outline: none;
}
.addbtn{
  width: 50px;
  color: #EEF5FF;
  font-size: 18px;
  background-color: #176B87;
  border-radius: 5px;
  border: 3px solid #176B87;
}
.listdiv{
  padding: 0px 10px;
}
.listItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #B4D4FF;
  color: #176B87;
  font-size: 18px;
}
.listEmpty{
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
  color: #176B87;
}

.taskName{
  display: flex;
  gap: 15px;
  
}
.completed {
  text-decoration: line-through;
}
.deletebtn{
  color: #FF6666;
  padding: 10px;
  background-color: #FCAEAE;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  border: 3px solid #FF6666;
}
.deletebtn:hover{
  color: red;
  border-color: red;
  cursor: pointer;
}

@media (min-width:600px){
  .listdiv{
    display: flex;
    justify-content: center;
  }
  .listItem{
    align-items: center;
    width: 500px;
  }
}